%h1 Assign


.container#assignments
  %h2= @idea.headline

  - unless @assignments.empty?
    %div#existing
      %h3 Existing assignments
      %ul
        - @assignments.each do |a|
          %li= a

  = render 'assign_form'
