<form id="new-idea" name="idea">
  <div class="field">
    <label for="headline"> Headline:</label>
    <input type="text" name="headline" id="headline" value="<%= headline %>" placeholder="Make it good.">
  </div>
</form>
