<h1>New idea</h1>

<form id="new-idea" name="idea">
  <div class="field">
    <label for="headline"> headline:</label>
    <input type="text" name="headline" id="headline" value="<%= headline %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Idea" />
  </div>

</form>

<a href="#/index">Back</a>