<form id="new-idea" name="idea">
  <div class="field">
    <input type="text" name="headline" id="headline" value="<%= headline %>" placeholder="Let's hear a headline. Make it good.">
  </div>
</form>
