<h1>Listing assignments</h1>

<table id="assignments-table">
  <tr>
    <th>Writer</th>
    <th>Idea</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Assignment</a>