<h1>New assignment</h1>

<form id="new-assignment" name="assignment">
  <div class="field">
    <label for="writer_id"> writer_id:</label>
    <input type="text" name="writer_id" id="writer_id" value="<%= writer_id %>" >
  </div>

  <div class="field">
    <label for="idea_id"> idea_id:</label>
    <input type="text" name="idea_id" id="idea_id" value="<%= idea_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Assignment" />
  </div>

</form>

<a href="#/index">Back</a>