#wysihtml5-toolbar{:style => "display: none;"}
  %a{"data-wysihtml5-command" => "bold"} bold
  %a{"data-wysihtml5-command" => "italic"} italic
  %a{"data-wysihtml5-command" => "underline"} underline
  %a{"data-wysihtml5-command" => "insertOrderedList"} insert ordered list
  %a{"data-wysihtml5-command" => "insertUnorderedList"} insert unordered list
  %a{"data-wysihtml5-command" => "foreColor", "data-wysihtml5-command-value" => "red"} red
  %a{"data-wysihtml5-command" => "foreColor", "data-wysihtml5-command-value" => "green"} green
  %a{"data-wysihtml5-command" => "foreColor", "data-wysihtml5-command-value" => "blue"} blue
  %a{"data-wysihtml5-command" => "createLink"} insert link
  %div{"data-wysihtml5-dialog" => "createLink", :style => "display: none;"}
    %label
      Link:
      %input.text{"data-wysihtml5-dialog-field" => "href", :value => "http://"}
    %a{"data-wysihtml5-dialog-action" => "save"} OK
    %a{"data-wysihtml5-dialog-action" => "cancel"} Cancel
