html,
body {
  margin: 0;
  padding: 0;
}

.home #status-nav, 
.ideas #ideas-nav, 
.assignments #assignments-nav, 
.submissions #submissions-nav,
.articles #articles-nav,
.preferences #preferences-nav {
  a {
    color: #FFFF33;
  }
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
  -webkit-font-smoothing: antialiased;

  .container {
    width: 960px;
    margin: 0 auto;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 10px 0; 
  }

  nav {
    &#navbar {
      box-shadow: 0px 0px 8px #666;
      line-height: 1em;
      margin-top: 0;
      margin-bottom: 40px;
      background-color: #999;
/*
      background: #a3a3a3; 
      background: -moz-linear-gradient(top, #a3a3a3 0%, #858585 100%); 
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3a3a3), color-stop(100%,#858585)); 
      background: -webkit-linear-gradient(top, #a3a3a3 0%,#858585 100%); 
      background: -o-linear-gradient(top, #a3a3a3 0%,#858585 100%); 
      background: -ms-linear-gradient(top, #a3a3a3 0%,#858585 100%); 
      background: linear-gradient(top, #a3a3a3 0%,#858585 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#858585',GradientType=0 );
*/

      height: 40px;
      ul {
        position: absolute;
        top: 0;
        left: 90px;
        clear: both;
        li {
          padding-right: 10px;
          display: inline;
          font-size: 18px;
          text-shadow: 1px 1px 1px #666;
          a {
            color: white;
            text-decoration: none;
            &:hover {
              color: #333;
              text-shadow: none;
            }
          }
        }
      }
      #branding {
        position: absolute;
        top: 15px;
        left: 10px;
        .brandname {
          color: white;
          font-family: 'MarketingScriptRegular';
          font-size: 38px;
          text-shadow: 1px 1px 1px #999;
        }
      }
    }
  }
}
