// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins.css.scss';

.container#ideas-app {
  @include box-shadow;
  @include border-radius;
  background: $container_bg;
  padding: 20px;
  margin-bottom: 40px;


  input[type="text"] {
    width: 99%;
    font-size: 24px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    padding: 6px;
    border: 1px solid #999999;
    @include input-field-box-shadow;
  }
}


#ideas-list {
  margin: 10px 0;
  padding: 0;
  list-style: none;

  li {
    padding: 18px 20px 18px 0;
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    &:last-child {
      border-bottom: none;
    }

    &.done label {
      color: #777777;
      text-decoration: line-through;
    }

    .destroy {
      position: absolute;
      right: 5px;
      top: 20px;
      display: none;
      cursor: pointer;
      width: 20px;
      height: 20px;
      background: url(destroy.png) no-repeat;
      border: none;
      &:hover {
        text-shadow: none;
        background-position: 0 -20px;
      }
    }

    .assign {
      color: #888;
      position: absolute;
      right: 40px;
      top: 20px;
      display: none;
      cursor: pointer;
      text-decoration: none;
      border: none;
      font-weight: normal;
      &:hover {
        text-shadow: none;
        color: black;
      }
    }

    &:hover {
      .destroy {
        display: block;
      }
      .assign {
        display: block;
      }
    }

    &.editing {
      border-bottom: none;
      margin-top: -1px;
      padding: 0;
      &:last-child {
        margin-bottom: -1px;
      }
      .edit {
        display: block;
        width: 96.5%;
        padding: 13px 15px 14px 20px;
        margin: 0;
      }
      .view {
        display: none;
      }
    }

    .view label {
      word-break: break-word;
    }

    .edit {
      display: none;
    }
  }
}
