body.writers .container {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  background: white;
  padding: 20px;
  margin-bottom: 40px; }
  body.writers .container h2 {
    text-align: center; }
