- unless ["home", "issues", "editors", "writers"].include? controller.controller_name or controller.action_name != "index"
  #issue-select
    %span
      %strong Viewing:
    = form_tag url_for(:action => controller.action_name, :controller => controller.controller_name), :method => "get" do
      = select_tag 'issue_id', 
        options_from_collection_for_select(Issue.order("volume DESC, issue DESC").all, 
        :id, :short_string, :selected => (unless @issue.nil? then @issue.id else nil end)), 
        :onchange => "$('#issue-select form').submit();"

