%nav#navbar
  #branding
    = image_tag "wordmark-white-small.png"
  %ul
    %li
      = link_to 'Status', '/'
    %li
      = link_to 'Ideas', ideas_path
    %li Assignments
    %li Submissions
    %li Articles
    %li Preferences
